<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Pneumonia Detection</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>

<header class="title">
    <h3>Pneumonia Detection</h3>
</header>
<body>
{% block content %}{% endblock %}
</body>

<footer>
    <script src="{{ url_for('static',filename='main.js') }}"></script>
    <h3><i>Biswajit Ghosal,</i> <i>Aurojit Maitra,</i> <i>Debdeep RoyChoudhuri,</i> <i>Swastik Biswas</i> </h3>
</footer>

</html>